@import "utils/default.scss";

.title-box {
	flex-grow: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	padding-right: 2rem;
	.status {
		font-size: 2rem;
		flex-basis: 20ch;
	}
	.round {
		display: flex;
		justify-content: center;
		align-items: center;
		.cir {
			font-size: 2rem;
			background-color: $DARK;
			width: 3rem;
			height: 3rem;
			text-align: center;
			border-radius: 50%;
			color: $LIGHT;
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			padding: 0;
		}
	}

	.word {
		display: flex;
		font-size: 2rem;

		.underline {
			font-size: 2rem;
			width: 1ch;
			border-bottom: 4px solid black;
			padding-bottom: 2rem;
			margin-left: 0.5rem;
			margin-right: 0.5rem;
		}
	}
}
