@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

body {
	margin: 0;
	padding: 0;
	font-family: "Comfortaa", "Roboto";
}

$DARK: #3d6cb9;
$SEMI-DARK: #00d1ff;
$SEMI-LIGHT: #00fff0;
$LIGHT: #fafaf6;
