@import "utils/default.scss";

.player-item {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	margin-left: 1rem;
	margin-right: 1rem;
	border-radius: 10px;
	background-color: $DARK;
	padding: 0.5rem;
	font-size: 1.3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: $LIGHT;
	.fa-pencil-alt {
		font-size: 1.6rem;
		color: $LIGHT;
	}
}
