@import "utils/default.scss";

.message-box {
	font-size: 1rem;
	padding: 0.5rem;
	.sender {
		font-weight: 700;
	}
	.message {
		font-weight: 400;
	}
}

.success-box {
	font-size: 1rem;
	color: green;
	background-color: rgb(159, 255, 159);

	border-radius: 10px;
	font-weight: 700;
	padding: 0.5rem;
}
